<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsQuery" version="1.3.4" targetFramework="net45" />
  <package id="Handlebars" version="1.3.0" targetFramework="net45" />
  <package id="Jurassic" version="2.2.0" targetFramework="net45" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net45" />
  <package id="NetOffice.Core.Net45" version="1.6.0.0" targetFramework="net45" />
  <package id="NetOffice.Outlook.Net45" version="1.6.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net45" />
  <package id="PreMailer.Net" version="1.2.4" targetFramework="net45" />
</packages>